<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Bets</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/bets.css">
    <script src="https://kit.fontawesome.com/927b7ac6ca.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Source+Serif+Pro&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <h2>Current Bets</h2>

        <div class="currentBets">
            <ul class="titles">
                <li>Team Name</li>
                <li>Spread/Points</li>
                <li>Price</li>
                <li>Bet Amount</li>
                <li>Winnings</li>
            </ul>

            <ul>
                <% for(let bet of bets) { %>
                    <div class="info">
                        <li>
                            <%= bet.teamName %>
                        </li>
                        <li>
                            <%= bet.points %>
                        </li>
                        <li>
                            <%= bet.price %>
                        </li>
                        <li>
                            <%= bet.betAmount %>
                        </li>
                        <li>
                            <%= bet.winnings %>
                        </li>
                        <form action="/bets/<%=bet._id%>?_method=DELETE" method="POST">
                            <button class="deleteButton">Delete Bet</button>
                        </form>
                    </div>
                    <% } %>
            </ul>
        </div>

        <h2>Completed Bets</h2>
</body>

</html>